.job {
    margin-bottom: 100px;
    max-width: 100rem;
    &__wrap {
        padding: 40px 15px;
        @include respond-to(md) {
            padding: 40px 45px;
        }
        @include respond-to(lg) {
            padding: 40px 130px;
        }

        > .heading--sm {
            margin-bottom: 40px;
        }
    }

    &__text-wrap {
        header,
        footer {
            margin-bottom: 30px;
            @include respond-to(md) {
                margin-bottom: 60px;
            }
        }

        footer {
            margin-bottom: 0;
            @include respond-to(md) {
                .btn {
                    margin-bottom: 30px;
                }
            }
        }

        .btn {
            min-width: 120px;
            @include respond-to(sm) {
                min-width: 188px;
            }
        }
    }

    &__text {
        margin-bottom: 40px;

        .heading--sm {
            margin-bottom: 25px;
            color: $mid-blue;

            &:not(:first-child) {
                margin-top: 40px;
            }
        }

        ul {
            padding: 0 0 15px 25px;
        }

        li,
        li p,
        li p span {
            font-size: 1.8rem !important;
        }

        li {
            margin-bottom: 10px;

            span {
                font-size: 1.8rem !important;
            }
        }

        p {
            break-inside: avoid;
            margin-bottom: 24px;
            text-align: left !important;

            span {
                font-size: inherit !important;
                color: $text-color !important;
            }

            u {
                text-decoration: none !important;
            }

        }
        p a,
        ul a {
            text-decoration: none !important;
            color: $dark-blue;
            text-decoration: underline !important;

            &:focus, &:hover, &:active {
                border: 2px solid #000;
                background: $focus-orange;

                span {
                    color: #000 !important;
                }
            }

            &:focus {

                background: $focus-orange;
            }

            span {
                color: $dark-blue !important;
            }
        }
    }

    > .btn-big {
        @include respond-to(sm) {
            width: 50%;
            align-self: flex-end;
        }
    }
}

.back-to-search {
    cursor: pointer;
}
